
.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right !important;
}
