$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 15px;
$padding-horizontal-md: 20px;
$padding-horizontal: 20px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #0a448a;
$light-blue: #3374db;
$red: #d73b3b;
